@mixin position($display: flex, $direction: column, $justify: center, $align: center){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin border(){
    border: 1px solid rgba(255, 255, 255, 0.3);;
}