@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/client.css");
@import url("sections/community.css");
@import url("sections/pixelgrade.css");
@import url("sections/phone.css");
@import url("sections/tesla.css");
@import url("sections/blog.css");

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.bg-overlay {
  background: var(--neutral-silver);
}

.h1-style{
    font-size: 64px;
    font-family: var(--inter-sans);
    font-weight: 600;
    line-height: 76px;
    text-align: left;
    color: var(--neutral-d_grey);

    margin: 0;
}

.h2-style{
  text-align: center;

    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    font-family: var(--inter-sans);
    color: var(--neutral-d_grey);

    margin-bottom: 5px;
}

.p-style{
  font-size: 14px;
  font-family: var(--inter-sans);
  font-weight: 500;
  line-height: 16px;
  color: var(--neutral-grey);
  text-align: left;
  opacity: 0.8;
  
}

.h3-style {
  font-size: 28px;
  line-height: 36px;
  font-family: var(--inter-sans);
  font-weight: 600;
  color: var(--neutral-d_grey);
  text-align: center;

  margin: 5px;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --inter-sans: "Inter", sans-serif;

  /* neutrals */
  --neutral-black: #263238;
  --neutral-d_grey: #4d4d4d;
  --neutral-grey: #717171;
  --neutral-l_grey: #89939e;
  --neutral-grey_blue: #abbed1;
  --neutral-silver: #f5f7fa;
  --neutral-white: #ffffff;
  /* primary */
  --primary-color: #28cb8b;
  --primary-color-hover: #60e0ad;
  --secondary-color: #263238;
  --info-color: #2194f3;
  /* color shade */
  --shade_1: #43a046;
  --shade_2: #388e3b;
  --shade_3: #237d31;
  --shade_4: #1b5e1f;
  --shade_5: #103e13;
  /* color tint */
  --tint_1: #66bb69;
  --tint_2: #81c784;
  --tint_3: #a5d6a7;
  --tint_4: #c8e6c9;
  --tint_5: #e8f5e9;
  /* action */
  --warning: #fbc02d;
  --danger: #e53835;
  --success: #2e7d31;
}