@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/client.css");
@import url("sections/community.css");
@import url("sections/pixelgrade.css");
@import url("sections/phone.css");
@import url("sections/tesla.css");
@import url("sections/blog.css");
@import url("sections/get-demo.css");
@import url("sections/footer.css");
@import url("sections/scroll_up.css");

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.bg-overlay {
  background: var(--neutral-silver);
}

.h1-style {
  font-size: 64px;
  font-family: var(--inter-sans);
  font-weight: 600;
  line-height: 76px;
  text-align: left;
  color: var(--neutral-d_grey);

  margin: 0;
}

.h2-style {
  text-align: center;

  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  font-family: var(--inter-sans);
  color: var(--neutral-d_grey);

  margin-bottom: 5px;
}

.p-style {
  font-size: 14px;
  font-family: var(--inter-sans);
  font-weight: 500;
  line-height: 16px;
  color: var(--neutral-grey);
  text-align: left;
}

.h3-style {
  font-size: 28px;
  line-height: 36px;
  font-family: var(--inter-sans);
  font-weight: 600;
  color: var(--neutral-d_grey);
  text-align: center;

  margin: 5px;
}

.footer-p {
  font-size: 16px;
  color: var(--neutral-silver);
  font-weight: 600;
  line-height: 36px;
}

.footer-h3 {
  font-size: 24px;
  color: var(--neutral-white);
  font-weight: 600;
  line-height: 30px;
  text-align: start;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

:root {
  --inter-sans: "Inter", sans-serif;

  /* neutrals */
  --neutral-black: #263238;
  --neutral-d_grey: #4d4d4d;
  --neutral-grey: #717171;
  --neutral-l_grey: #89939e;
  --neutral-grey_blue: #abbed1;
  --neutral-silver: #f5f7fa;
  --neutral-white: #ffffff;
  /* primary */
  --primary-color: #28cb8b;
  --primary-color-hover: #60e0ad;
  --secondary-color: #263238;
  --info-color: #2194f3;
  /* color shade */
  --shade_1: #43a046;
  --shade_2: #388e3b;
  --shade_3: #237d31;
  --shade_4: #1b5e1f;
  --shade_5: #103e13;
  /* color tint */
  --tint_1: #66bb69;
  --tint_2: #81c784;
  --tint_3: #a5d6a7;
  --tint_4: #c8e6c9;
  --tint_5: #e8f5e9;
  /* action */
  --warning: #fbc02d;
  --danger: #e53835;
  --success: #2e7d31;
}

@media screen and (max-width: 1500px) {
  .container {
    max-width: 960px;
  }

  .h1-style {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
  }

  .h2-style {
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
  }

  .h3-style {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }

  .p-style {
    font-size: 12px;
    font-weight: 300;
  }

  .footer-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
  }

  .footer-h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
  }

  button {
    cursor: pointer;
    transition: color 0.3 ease;
  }

  button:hover {
    background-color: var(--primary-color-hover);
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin: 0;
    /* width: 100%;      
    max-width: 100%;
    box-sizing: border-box; */
  }

  .h1-style {
    font-size: 40px;
    line-height: 50px;
    text-align: left;
  }

  .h2-style {
    font-size: 25px;
  }
}