@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("sections/header.css");
@import url("sections/hero.scss");
@import url("sections/client.scss");
@import url("sections/community.scss");
@import url("sections/pixelgrade.scss");
@import url("sections/business.scss");
@import url("sections/phone.scss");
@import url("sections/tesla.scss");
@import url("sections/blog.css");
@import url("sections/get-demo.css");
@import url("sections/footer.css");
@import url("sections/scroll_up.css");
@import url("./reset.css");
@import url("./grid_system.scss");

.bg-overlay {
  background: var(--neutral-silver);
}

h1,
h2,
h3 {
  font-family: var(--inter-sans);
  color: var(--neutral-d_grey);
}

.h1-style {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

.h2-style {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.p-style {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--neutral-grey);
}

.h3-style {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.footer-p {
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  color: var(--neutral-silver);
}

.footer-h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: var(--neutral-white);
}

body {
  font-family: "Inter", sans-serif;
}

.green-btn {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 16px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover{
    background-color: var(--primary-color-hover);

  }
}

:root {
  --inter-sans: "Inter", sans-serif;

  /* neutrals */
  --neutral-black: #263238;
  --neutral-d_grey: #4d4d4d;
  --neutral-grey: #717171;
  --neutral-l_grey: #89939e;
  --neutral-grey_blue: #abbed1;
  --neutral-silver: #f5f7fa;
  --neutral-white: #ffffff;
  /* primary */
  --primary-color: #28cb8b;
  --primary-color-hover: #60e0ad;
  --secondary-color: #263238;
  --info-color: #2194f3;
  /* color shade */
  --shade_1: #43a046;
  --shade_2: #388e3b;
  --shade_3: #237d31;
  --shade_4: #1b5e1f;
  --shade_5: #103e13;
  /* color tint */
  --tint_1: #66bb69;
  --tint_2: #81c784;
  --tint_3: #a5d6a7;
  --tint_4: #c8e6c9;
  --tint_5: #e8f5e9;
  /* action */
  --warning: #fbc02d;
  --danger: #e53835;
  --success: #2e7d31;
}

.container {
  max-width: 1320px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section{
  padding-bottom: 50px;
  padding-top: 50px;
}

/* <=1399px */
@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
}

/* <=1199px */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }

  .h1-style {
    font-size: 52px;
    line-height: 64px;
  }

  .h2-style {
    font-size: 32px;
    line-height: 40px;
  }

  .h3-style {
    font-size: 24px;
    line-height: 32px;
  }
}

/* <=991px */
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }

  .h1-style {
    font-size: 44px;
    line-height: 56px;
  }

  .h2-style {
    font-size: 28px;
    line-height: 36px;
  }

  .h3-style {
    font-size: 22px;
    line-height: 30px;
  }
}

/* <=767px */
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  .h1-style {
    font-size: 36px;
    line-height: 46px;
  }

  .h2-style {
    font-size: 24px;
    line-height: 32px;
  }

  .h3-style {
    font-size: 20px;
    line-height: 28px;
  }
}