

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/client.css");
@import url("sections/community.css");
@import url("sections/pixelgrade.css");
@import url("sections/phone.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.bg-overlay {
  background: var(--neutral-silver);
  
  
}

body{
  font-family: "Inter", sans-serif;
}

:root{
  --inter-sans: "Inter", sans-serif;

  /* neutrals */
  --neutral-black: #263238;
  --neutral-d_grey: #4D4D4D;
  --neutral-grey: #717171;
  --neutral-l_grey: #89939E;
  --neutral-grey_blue: #ABBED1;
  --neutral-silver: #F5F7FA;
  --neutral-white: #FFFFFF;
  /* primary */
  --primary-color: #28CB8B;
  --secondary-color: #263238;
  --info-color: #2194f3;
  /* color shade */
  --shade_1: #43A046;
  --shade_2: #388E3B;
  --shade_3: #237D31;
  --shade_4: #1B5E1F;
  --shade_5: #103E13;
  /* color tint */
  --tint_1: #66BB69;
  --tint_2: #81C784;
  --tint_3: #A5D6A7;
  --tint_4: #C8E6C9;
  --tint_5: #E8F5E9;
  /* action */
  --warning: #FBC02D;
  --danger: #E53835;
  --success: #2E7D31;
}
