@import "../mixins.scss";

.blog {
    &__content {
        text-align: center;
        margin-bottom: 20px;

        h2 {
            margin-bottom: 10px;
            font-size: 25px;
            line-height: 30px;
        }

        p {
            line-height: 16px;
        }
    }

    &__cards {
        @include position($direction: row, $align: start);
        gap: 30px;
    }

    &__item {
        @include position();
        width: 300px;
        height: auto;
    }

    &__img {
        width: 100%;
    }

    &__title {
        @include position();
        text-align: center;
        gap: 20px;
        background-color: var(--neutral-silver);
        box-shadow: 2px 2px 8px rgba(171, 190, 209, 0.2);
        border-radius: 6px;
        padding: 15px 20px;
        max-width: 250px;
        position: relative;
        z-index: 1;
        transform: translateY(-20px);

        p {
            font-weight: 600;
            line-height: 20px;
        }
    }

    &__button {
        @include position($direction: row);
        gap: 5px;
        transition: color 0.2s ease-in-out;
        border: none;
        outline: none;

        &:hover {
            color: var(--primary-color-hover);
        }

        a {
            text-decoration: none;
            color: var(--primary-color);
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
        }
    }
}

@media (max-width: 991.98px) {
    .blog {
        &__title {
            max-width: 180px;

            p {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .blog {
        &__cards {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__title {
            max-width: 250px;

            p {
                font-size: 14px;
            }
        }
    }
}