.blog {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.blog-content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.blog-content h2 {
    text-align: center;

    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    font-family: var(--inter-sans);
    color: var(--neutral-d_grey);

    margin-bottom: 0;

}

.blog-content p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--inter-sans);
    color: var(--neutral-grey);
    font-weight: 500;
    text-align: center;
    opacity: 0.8;

    margin-top: 12px;
}

.blog-bottom {
    display: flex;
    gap: 20px;


}

.blog-bottom__card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

    position: relative;
}

#card-1,
#card-2,
#card-3 {
    width: 400px;
    height: 340px;
    object-fit: contain;
}

.blog-bottom__card-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(171, 190, 209, 0.2);

    width: 350px;
    padding: 10px;

    background-color: white;


    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);


}

.blog-bottom__card-info p {
    font-size: 19px;
    line-height: 26px;
    font-family: var(--inter-sans);
    color: var(--neutral-grey);
    font-weight: 500;
    text-align: center;


}

.blog-bottom__card-info-button {
    display: flex;
    align-items: center;
    gap: 5px;

    padding-bottom: 10px;
}

.blog-bottom__card-info-button span {
    color: var(--primary-color);
    font-size: 19px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
}