.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.blog-content p {
    margin-top: 12px;
}

.blog-bottom {
    display: flex;
    gap: 20px;
}

.blog-bottom__card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 400px;
    height: 340px;
    object-fit: contain;
}

.blog-bottom__card-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(171, 190, 209, 0.2);
    background-color: white;

    width: 350px;
    min-height: 150px;
    padding: 10px;
    top: -60px;
    z-index: 1;
    position: relative;
}

.blog-bottom__card-info p {
    font-size: 20px;
    line-height: 26px;
    font-family: var(--inter-sans);
    color: var(--neutral-grey);
    font-weight: 500;
    text-align: center;
}

.blog-bottom__card-info-button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog-bottom__card-info-button a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;

    cursor: pointer;
}

.blog-bottom__card-info-button a:hover {
    color: var(--primary-color-hover);
}

.blog-bottom__card-info-button img {
    width: 30px;
    height: 20px;
    object-fit: contain;
}