.client {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.client-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.client-content p {
    text-align: center;
}

.client-logos {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.client-logos img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.client-logos img:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 1500px) {
    .client-logos img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .client-logos {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .client-content h2 {
        margin-bottom: 0;
    }

    .client-content p {
        margin-top: 10px;
    }
}