.community {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-title {
    display: flex;
    flex-direction: column;
}

.community-title h2 {
    margin: 30px auto 0;
}

.community-title p {
    text-align: center;
}

.community-suitables {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.community-card {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    border-radius: 6px;
    align-items: center;
    padding: 25px 28px;
    box-shadow: 2px 2px 8px rgba(171, 190, 209, 0.2);
    background-color: transparent;
    margin: 20px auto;
}

.community-card img {
    width: 70px;
    height: 65px;

    object-fit: contain;
}
