.footer-bg {
    background-color: var(--neutral-black);
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    padding: 30px;
}

.footer-logo {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.footer-logo__main-logo {
    width: 155px;
    height: 24px;
    object-fit: contain;
    margin-bottom: 10px;
}

.footer-logo__copyrights {
    display: flex;
    flex-direction: column;
}

.footer-logo__copyrights p {
    line-height: 0px;
}

.footer-logo__socials {
    padding-top: 20px;
    gap: 30px;
    display: flex;
}

.footer-logo__socials img {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.footer-logo__socials a {
    width: 40px;
    height: 40px;
    background-color: var(--neutral-d_grey);
    border-radius: 50%;
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-company-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.footer-logo__socials a:hover {
    background-color: var(--neutral-l_grey);
}

.footer-company,
.footer-support {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    cursor: pointer;
}

.footer-email {
    top: -66px;
    position: relative;
}

.footer-email__wrapper {
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: var(--neutral-l_grey);
    opacity: 0.8;
    padding: 5px 10px;

    display: flex;
    align-items: center;
}

.footer-email input {
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--neutral-silver);
    font-size: 14px;
}

.footer-email input::placeholder {
    color: var(--neutral-silver);
}

.footer-email__wrapper-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-email__wrapper-button img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

@media screen and (max-width: 1500px) {
    .footer {
        gap: 40px;
    }

    .footer-logo__main-logo {
        width: 150px;
        height: 25px;
        margin-bottom: 0px;
        padding-bottom: 8px;
    }

    .footer-logo {
        flex: 1;
    }

    .footer-logo__socials {
        padding-top: 10px;
        gap: 20px;
    }

    .footer-logo__socials img {
        width: 20px;
        height: 20px;
    }

    .footer-logo__socials a {
        width: 30px;
        height: 30px;
    }

    .footer-email__wrapper {
        padding: 3px 8px;
    }

    .footer-email input {
        padding: 5px;
        font-size: 10px;
    }

    .footer-email__wrapper-button img {
        width: 18px;
        height: 18px;
        object-fit: contain;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        flex-wrap: wrap;
        padding: 0;
    }

    .footer-logo {
        gap: 20px;
    }

    .footer-logo__socials {
        display: flex;
    }

    .footer-email {
        padding-right: 10px;
    }

    .footer-email__wrapper {
        padding: 3px 8px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        gap: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        margin: 20px auto;
        align-items: start;
    }

    .footer-logo__main-logo {
        width: 250px;
        height: 35px;
        margin-top: 20px;
        width: fit-content;
    }

    .footer-logo {
        gap: 10px;
    }

    .footer-logo__copyrights p {
        margin-left: 10px;
    }

    .footer-logo__socials {
        padding-top: 10px;
        gap: 20px;
        margin-left: 10px;
    }

    .footer-logo__socials img {
        width: 30px;
        height: 30px;
    }

    .footer-logo__socials a {
        width: 40px;
        height: 40px;
    }

    .footer-company,
    .footer-support {
        padding-left: 10px;
    }

    .footer-company h3,
    .footer-support h3 {
        margin: 12px 0;
    }

    .footer-email {
        padding: 0 0 10px 10px;
        top: -5px;
    }

    .footer-email h3 {
        margin: 12px auto;
    }
}