.get-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 30px;
    margin: 20px auto;
}

.get-demo h1 {
    text-align: center;
    color: var(--neutral-black);
}

.get-demo-button {
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: var(--primary-color);

    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: var(--neutral-white);
    text-align: center;

    min-width: 180px;
    padding: 20px 35px;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 10px;
}

.get-demo-button img {
    object-fit: contain;
}

@media screen and (max-width: 1500px) {
    .get-demo-button {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        min-width: 100px;
        padding: 15px 20px;

        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .get-demo-button {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        min-width: 100px;
        padding: 15px 20px;

        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (max-width: 480px) {
    .get-demo {
        padding: 20px 0;
    }

    .get-demo h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .get-demo-button {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        min-width: 100px;
        padding: 15px 20px;

        display: flex;
        align-items: center;
        gap: 10px;
    }
}