@import "../mixins.scss";

.get-demo {
    &__content {
        @include position();
        gap: 25px;

        h1 {
            font-size: 44px;
            line-height: 52px;
            font-weight: 600;
        }

        button {
            display: flex;
            gap: 5px;
            padding: 15px 30px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
        }
    }
}

.get-demo h1 {
    text-align: center;
    color: var(--neutral-black);
}

.get-demo-button {
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: var(--primary-color);

    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: var(--neutral-white);
    text-align: center;

    min-width: 180px;
    padding: 20px 35px;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 10px;
}

.get-demo-button img {
    object-fit: contain;
}

@media screen and (max-width: 1500px) {
    .get-demo-button {
        font-size: 14px;
        line-height: 14px;
        min-width: 100px;
        padding: 15px 20px;
    }
}

@media screen and (max-width: 480px) {
    .get-demo {
        padding: 20px 0;
    }

    .get-demo h1 {
        font-size: 35px;
        line-height: 40px;
    }
}