.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header__logo {
    display: flex;
    position: relative;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header__menu li {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-family: var(--inter-sans);
    color: var(--secondary-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.header__menu li:hover {
    color: var(--neutral-l_grey);
}

.header__menu li a {
    color: inherit;
    text-decoration: none;
}

.header__button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
}

.header__hamburger {
    display: none;
}

@media screen and (max-width: 1200px) {
    .header__menu {
        margin: 0px;
        padding: 0px;
    }

    .header__menu li {
        margin: 0px;
        font-weight: 400;
    }

    .header__button {
        min-width: 140px;
        font-size: 12px;
        line-height: 14px;
        padding: 14px 20px;
    }
}

@media screen and (max-width: 992px) {
    .header__button {
        display: none;
    }

    .header__hamburger {
        display: block;
        cursor: pointer;
        z-index: 3;
    }

    .header__hamburger .bar {
        display: block;
        background-color: var(--primary-color);
        border-radius: 3px;
        width: 30px;
        height: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .header__hamburger .bar:nth-child(2) {
        margin: 8px auto;
    }

    .header__hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .header__hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .header__hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .header__menu {
        position: fixed;
        left: -120%;
        top: 40px;
        gap: 0;
        flex-direction: column;
        background-color: var(--neutral-silver);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: left 0.4s ease-in-out, opacity 0.3s ease;

        justify-content: start;
        padding-top: 30px;
        margin: 0;
        gap: 20px;
        z-index: 1;
    }

    .header__menu li {
        margin: 16px 0;
    }

    .header__menu.active {
        left: 0;
        z-index: 2;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}

@media screen and (max-width: 1500px) {
    .header__logo img {
        width: 110px;
        height: 24px;
        object-fit: contain;
    }

    .header__menu li {
        font-size: 12px;
        font-weight: 400;
    }

    .header__button {
        min-width: 140px;
        font-size: 12px;
        line-height: 14px;
        padding: 14px 20px;
    }

    .header__button img {
        margin-left: 6px;
    }
}

@media screen and (max-width: 1024px) {
    .header__nav {
        padding: 0 0;
    }

    .header__menu {
        gap: 35px;
        margin-right: 0px;
    }

    .header__button {
        font-size: 10px;
        line-height: 10px;
        padding: 10px 12px;
        min-width: unset;
    }
}

@media screen and (max-width: 480px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header__menu {
        position: fixed;
        left: -120%;
        top: 40px;
        gap: 0;
        flex-direction: column;
        background-color: var(--neutral-silver);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: left 0.4s ease-in-out, opacity 0.3s ease;

        justify-content: start;
        padding-top: 30px;
        margin: 0;
        gap: 20px;
    }

    .header__menu li {
        margin: 16px 0;
    }

    .header__menu.active {
        left: 0;
        z-index: 2;
    }
}