@import "../mixins.scss";

.hero {
    padding-top: 50px;
    padding-bottom: 50px;

    &__content {
        @include position($align: start);

        span {
            color: var(--primary-color);
        }

        p {
            padding: 20px 0;
        }

        button {
            padding: 18px 30px;
        }
    }

    &__image {
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1399.98px) {
    .hero {
        &__content {
            h1 {
                font-size: 60px;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .hero {
        &__content {
            h1 {
                font-size: 50px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .hero {
        &__content {
            h1 {
                font-size: 38px;
            }
        }

        &__image {}
    }
}

@media (max-width: 767.98px) {
    .hero {
        &__content {
            text-align: center;
            align-items: center;
            margin-bottom: 40px;

            p {
                padding-right: 0px;
            }
        }
    }
}