.hero {
    display: flex;
    position: relative;
    overflow: hidden;
}

.hero-content__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-content__info h1 span {
    color: var(--primary-color);
}

.hero-content__info p {
    padding: 20px 0;
}

.hero-content__info button {
    width: fit-content;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 3px;

    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 16px;

    padding: 18px 30px;
}

.hero-image {
    width: 120%;
    height: 100%;
    position: relative;
    flex: 1;
}

.hero-image img {
    height: 500px;
    width: 500px;
    margin: 80px auto;
    object-fit: contain;
}

.hero-circles {
    display: flex;
    position: absolute;
    gap: 6px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    bottom: 20px;
}

.hero-circles div {
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 50%;
}

.hero-circles div:nth-child(2) {
    opacity: 0.3;
}

.hero-circles div:nth-child(3) {
    opacity: 0.3;
}

@media screen and (max-width: 1500px) {
    .hero-image img {
        height: 350px;
        width: 350px;
        margin-left: 90px;
    }

    .hero-content__info p {
        padding: 0;
        margin-bottom: 20px;
    }

    .hero-content__info button {
        font-size: 12px;
        padding: 12px 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-wrap: wrap;
    }

    .hero-image {
        margin-left: 10px;
    }

    .hero-content__info {
        margin-left: 0px;
    }

    .hero-image img {
        margin-left: 100px;
    }
}

@media screen and (max-width: 480px) {
    .hero {
        flex-direction: column;
        padding: 10px 0px 10px 10px;
        width: fit-content;
    }

    .hero-content__info h1 {
        width: fit-content;
    }

    .hero-content__info p {
        padding: 0;
        margin: 5px 0;
        width: fit-content;
    }

    .hero-content__info button {
        font-size: 12px;
        padding: 12px 20px;
        margin-top: 10px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        width: 95%;
    }

    .hero-image img {
        height: 250px;
        width: 250px;
        margin: 0;
    }
}