.hero {
    display: flex;
    overflow: hidden;
    padding: 20px;

}

.hero-content__info {

    
}

.hero-content__info h1 span {
    color: var(--primary-color);
}

.hero-content__info p {
    padding: 20px 0;
}

.hero-content__info button {
    padding: 18px 30px;
}

.hero-image {
    width: 120%;
    height: 100%;

}

.hero-image img {
    height: 350px;
    width: 350px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 480px) {
    .hero {
        flex-direction: column;
        padding: 0;
        width: fit-content;
    }
    .hero-content__info{
        padding: 10px;
    }

    .hero-content__info h1 {
        width: fit-content;
    }

    .hero-content__info p {
        margin: 5px 0;
        width: fit-content;
    }

    .hero-content__info button {
        margin-top: 10px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        width: 95%;
    }

    .hero-image img {
        height: 250px;
        width: 250px;
        margin: 0;
    }

    .hero-circles{
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    .hero-image img {
        height: 350px;
        width: 350px;
        margin-left: 90px;
    }

    .hero-content__info p {
        padding: 0;
        margin-bottom: 20px;
    }

    .hero-content__info button {
        font-size: 12px;
        padding: 12px 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .hero-image {
        margin-left: 10px;
    }

    .hero-content__info {
        margin-left: 0px;
    }

    .hero-image img {
        margin-left: 100px;
    }
}

@media screen and (max-width: 480px) {
    .hero {
        flex-direction: column;
        padding: 10px 0px 10px 10px;
        width: fit-content;
    }

    .hero-content__info h1 {
        width: fit-content;
    }

    .hero-content__info p {
        margin: 5px 0;
        width: fit-content;
    }

    .hero-content__info button {
        margin-top: 10px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        width: 95%;
    }

    .hero-image img {
        height: 250px;
        width: 250px;
        margin: 0;
    }
}