.phone {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.phone-img {
    width: 120%;
    height: 100%;
    margin-left: 50px;
}

.phone-img img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin-left: 40px;
    padding-left: 20px;
}

.phone-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}

.phone-content p {
    margin: 20px 0 25px;
}

.phone-content button {
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: var(--primary-color);

    color: #fff;
    font-family: var(--inter-sans);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;

    padding: 18px 40px;
}

@media screen and (max-width: 1500px) {
    .phone {
        gap: 80px;
        padding: 30px;
    }

    .phone-content p {
        margin-top: 0;
    }

    .phone-content h2 {
        text-align: left;
    }

    .phone-img {
        margin-left: 0;
    }

    .phone-img img {
        width: 350px;
        height: 350px;
        padding-left: 0;
        margin-left: 0;
    }

    .phone-content button {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;

        padding: 14px 20px;
    }
}

@media screen and (max-width: 1024px) {
    .phone {
        gap: 0px;
        padding: 20px;
        margin: 20px auto;
        flex-wrap: wrap;
    }

    .phone-content p {
        margin-top: 0;
    }

    .phone-content h2 {
        text-align: left;
    }

    .phone-img {
        margin-left: 0;
    }

    .phone-img img {
        width: 350px;
        height: 350px;
        padding-left: 0;
        margin-left: 0;
    }

    .phone-content button {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;

        padding: 14px 20px;
    }
}

@media screen and (max-width: 480px) {
    .phone {
        gap: 0px;
        padding: 10px 0px 10px 10px;
        margin: 20px auto;
        flex-wrap: wrap-reverse;
    }

    .phone-content p {
        margin-top: 0;
        width: fit-content;
        line-height: 18px;
    }

    .phone-content h2 {
        text-align: left;
    }

    .phone-img {
        display: flex;
        justify-content: end;
    }

    .phone-img img {
        width: 300px;
        height: 300px;
        padding-left: 0;
        margin-left: 0;
        margin-right: 30px;
        object-fit: contain;
    }

    .phone-content button {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;

        padding: 14px 20px;
    }
}