.pixelgrade-info {
    display: flex;
    align-items: center;
    margin: 10px auto;
    overflow: hidden;
}

.pixelgrade-info__img {
    position: relative;
}

.pixelgrade-info__img img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.pixelgrade-info__content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.pixelgrade-info__content p {
    width: 100%;
    margin: 20px auto;
}

.pixelgrade-info__content button {
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: var(--primary-color);

    color: #fff;
    font-family: var(--inter-sans);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;

    padding: 18px 40px;
}

.pixelgrade-bottom {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 50px;
}

.pixelgrade-bottom__title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.pixelgrade-bottom__title span {
    color: var(--primary-color);
}

.pixelgrade-bottom__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.pixelgrade-bottom__stats {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.pixelgrade-bottom__stats-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.pixelgrade-bottom__stats-info span {
    font-size: 16px;
    line-height: 14px;
    font-family: var(--inter-sans);
    color: var(--neutral-grey);
    font-weight: 500;
}

.pixelgrade-bottom__stats img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

@media screen and (max-width: 1500px) {
    .pixelgrade-info {
        padding: 20px;
        gap: 80px;
    }

    .pixelgrade-info__img img {
        width: 350px;
        height: 350px;
        margin-left: 0;
        padding-left: 0;
    }

    .pixelgrade-info__content h2 {
        text-align: left;
    }

    .pixelgrade-info__content p {
        margin: 10px auto 30px;
    }

    .pixelgrade-info__content button {
        font-size: 14px;
        line-height: 14px;
        padding: 14px 20px;
    }

    .pixelgrade-bottom__title h2 {
        text-align: left;
    }

    .pixelgrade-bottom__title p {
        margin-top: 0px;
    }

    .pixelgrade-bottom__stats img {
        width: 45px;
        height: 45px;
    }

    .pixelgrade-bottom__stats-info span {
        font-size: 14px;
        line-height: 10px;
        font-weight: 400;
        margin-left: 3px;
    }

    .pixelgrade-bottom__stats {
        gap: 15px;
        margin: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .pixelgrade-info {
        padding: 10px;
        gap: 20px;
    }

    .pixelgrade-info__content {
        padding-right: 50px;
        position: relative;
    }

    .pixelgrade-bottom {
        flex-wrap: wrap;
    }

    .pixelgrade-bottom__right {
        margin-right: 30px;
    }

    .pixelgrade-bottom__stats-info h3 {
        font-size: 24px;
    }

    .pixelgrade-bottom__stats img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 480px) {
    .pixelgrade-info {
        padding: 10px 0px 10px 10px;
        flex-wrap: wrap-reverse;
    }

    .pixelgrade-info__content {
        margin: 0;
        padding: 0;
    }

    .pixelgrade-info__content p {
        margin-right: 20px;
        width: fit-content;
    }

    .pixelgrade-bottom {
        padding: 10px 0px 10px 10px;
    }

    .pixelgrade-bottom__title h2 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .pixelgrade-info__img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .pixelgrade-info__img img {
        width: 300px;
        height: 300px;
        display: none;
    }

    .pixelgrade-bottom__right {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        width: 100%;
    }

    .pixelgrade-bottom__stats {
        gap: 5px;
        margin: 10px;
    }

    .pixelgrade-bottom__stats:nth-child(2),
    .pixelgrade-bottom__stats:nth-child(4) {
        width: fit-content;
    }

    .pixelgrade-bottom__stats-info h3 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .pixelgrade-bottom__stats-info span {
        font-size: 12px;
    }

    .pixelgrade-bottom__stats img {
        width: 30px;
        height: 30px;
    }
}