.pixelgrade{
display: flex;
flex-direction: column;
overflow: hidden;
}

.pixelgrade-info{
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.pixelgrade-info__img{
    width: 120%;
    height: 100%;
    position: relative;
    
}

.pixelgrade-info__img img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin-left: 40px;
    padding-left: 20px;
}

.pixelgrade-info__content{
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 700px;
}

.pixelgrade-info__content h2{
    font-size: 36px;
    line-height: 44px;
    font-family: var(--inter-sans);
    color: var(--neutral-d_grey);
    font-weight: 600;

    
    margin: 0;
}
.pixelgrade-info__content p{
    font-size: 14px;
    font-family: var(--inter-sans);
    font-weight: 500;
    line-height: 16px;
    color: var(--neutral-grey);
    text-align: left;

    width: 100%;
    margin: 20px auto;
}

.pixelgrade-info__content button{
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: var(--primary-color);
    
    color: #fff;
    font-family: var(--inter-sans);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;

    padding: 18px 40px;
}


.pixelgrade-bottom{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 50px;
}

.pixelgrade-bottom__title{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
} 

.pixelgrade-bottom__title h2{
    margin: 0;
    font-size: 36px;
    line-height: 44px;
    font-family: var(--inter-sans);
    color: var(--neutral-d_grey);
    font-weight: 600;
}
.pixelgrade-bottom__title span{
    color: var(--primary-color);
}
.pixelgrade-bottom__title p{
    font-size: 14px;
    font-family: var(--inter-sans);
    font-weight: 500;
    line-height: 16px;
    color: var(--neutral-grey);
    text-align: left;
}

.pixelgrade-bottom__right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.pixelgrade-bottom__stats{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.pixelgrade-bottom__stats-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.pixelgrade-bottom__stats-info h3{
    margin: 0;

    font-size: 28px;
    line-height: 36px;
    font-family: var(--inter-sans);
    font-weight: 600;
    color: var(--neutral-d_grey);
    text-align: center;
}

.pixelgrade-bottom__stats-info span{
    font-size: 16px;
    line-height: 14px;
    font-family: var(--inter-sans);
    color: var(--neutral-grey);
    font-weight: 500;
} 

.pixelgrade-bottom__stats img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

