
.scroll-top_btn{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 80px;
    transform: translateX(50%);
    transition: transform 0.3s ease-in-out;

    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .scroll-top_btn img{
    background-color: transparent;
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
    padding: 5px;
    object-fit: contain;
    opacity: 0.4;
  }

  .scroll-top_btn img:hover{
    transform: scale(1.1);
  }
  .scroll-top_btn:hover{
    background-color: var(--primary-color-hover);
    transform: scale(1.2);
  }
  
  @media screen and (max-width: 480px){
    .scroll-top_btn{
        right: 40px;
    }
  }