.tesla {
    display: flex;
    margin: 20px auto;
    overflow: hidden;
    align-items: center;
    padding: 20px;

    gap: 70px;
}

.tesla-img {
    width: 120%;
    height: 100%;
}

.tesla-img img {
    width: 400px;
    height: 400px;
    object-fit: contain;

    margin-left: -17px;
}

.tesla-content {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-right: 100px;
}

.tesla-content__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tesla-content__info p {
    margin-bottom: 0;
}

.tesla-content__info h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: var(--primary-color);

    margin: 20px 0 0px;
}

.associate-p {
    color: var(--neutral-l_grey);
    font-weight: 400;
    line-height: 20px;

    margin-top: 10px;
}

.tesla-content__bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.tesla-content__bottom-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tesla-content__bottom-img img{
    transition: transform 0.3s ease-in-out;
}

.tesla-content__bottom-img img:hover{
    transform: scale(1.3);
}

.tesla-content__bottom-text {
    display: flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap;

    position: relative;
    margin-left: 20px;
}

.tesla-content__bottom-text a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 25px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.tesla-content__bottom-text a:hover {
    color: var(--primary-color-hover);
    font-size: 28px;
}

.tesla-content__bottom-text img {
    width: 100px;
    height: auto;

    object-fit: contain;
}

@media screen and (max-width: 1500px) {
    .tesla-content__info h4 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
    }

    .tesla-img img {
        width: 300px;
        height: 300px;
    }

    .tesla-content__bottom {
        gap: 5px;
    }

    .associate-p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        margin-top: 5px;
    }

    .tesla-content__bottom-img img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .tesla-content__bottom-text a {
        font-size: 16px;
        line-height: 26px;
    }

    .tesla-content__bottom-text img {
        margin-right: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .tesla {
        gap: 60px;
    }

    .tesla-content {
        margin-right: 50px;
    }

    .tesla-content__info a {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        margin: 20px 0 0px;
    }

    .tesla-img img {
        width: 300px;
        height: 300px;
        margin-left: 15px;
    }

    .tesla-content__bottom-text h4 {
        font-weight: 500;
    }
}

@media screen and (max-width: 480px) {
    .tesla {
        gap: 0px;
        flex-wrap: wrap;
        padding: 0;
    }

    .tesla-content {
        margin-right: 0px;
        padding: 10px;
    }

    .tesla-content__info p {
        line-height: 18px;
        margin-top: 0px;
    }

    .tesla-img img {
        margin-left: 0px;
    }

    .tesla-content__bottom {
        gap: 0px;
    }

    .tesla-content__bottom-img {
        gap: 10px;
    }

    .tesla-content__bottom-img img {
        width: 30px;
        height: 30px;
    }

    .tesla-content__bottom-text {
        margin: 0;
        gap: 0px;
        position: relative;
        right: 5px;
    }

    .tesla-content__bottom-text a {
        font-size: 14px;
        padding-left: 20px;
        margin-right: 5px;
        transition: none;
    }

    .tesla-content__bottom-text a:hover {
        color: var(--primary-color-hover);
        font-size: 14px;
    }

    .tesla-content__bottom-text img {
        width: 25px;
        padding-right: 0px;
        margin-right: 10px;
    }
}