.tesla {
    display: flex;
    margin: 20px auto;
    overflow: hidden;
    align-items: center;
    padding: 20px;

    gap: 70px;
}

.tesla-img {
    width: 120%;
    height: 100%;
}

.tesla-img img {
    width: 400px;
    height: 400px;
    object-fit: contain;

    margin-left: -17px;
}

.tesla-content {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-right: 100px;
}

.tesla-content__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tesla-content__info p {
    margin-bottom: 0;
}

.tesla-content__info h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: var(--primary-color);

    margin: 20px 0 0px;
}

.associate-p {
    color: var(--neutral-l_grey);
    font-weight: 400;
    line-height: 20px;

    margin-top: 10px;
}

.tesla-content__bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
}

.tesla-content__bottom-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tesla-content__bottom-text {
    display: flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap;

    margin-left: 20px;
    margin-right: -9px;
}

.tesla-content__bottom-text h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: var(--primary-color);
}

.tesla-content__bottom-text img {
    width: 40px;
    height: auto;
    margin-right: 4px;

    object-fit: contain;
}

@media screen and (max-width: 1500px) {
    .tesla-content__info h4 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        margin: 20px 0 0px;
    }

    .tesla-img img {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }

    .tesla-content__bottom {
        gap: 5px;
    }

    .associate-p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        margin-top: 5px;
    }

    .tesla-content__bottom-img img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .tesla-content__bottom-text h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        color: var(--primary-color);
    }

    .tesla-content__bottom-text img {
        width: 30px;
        height: auto;
        margin-right: 5px;

        object-fit: contain;
    }
}

@media screen and (max-width: 1024px) {
    .tesla {
        gap: 60px;
        flex-wrap: wrap;
    }

    .tesla-content {
        margin-right: 50px;
    }

    .tesla-content__info h4 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        margin: 20px 0 0px;
    }

    .tesla-img img {
        width: 300px;
        height: 300px;
        object-fit: contain;
        margin-left: 15px;
    }

    .tesla-content__bottom {
        gap: 5px;
    }

    .associate-p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        margin-top: 5px;
    }

    .tesla-content__bottom-img img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .tesla-content__bottom-text h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        color: var(--primary-color);
    }

    .tesla-content__bottom-text img {
        width: 30px;
        height: auto;
        margin-right: 5px;

        object-fit: contain;
    }
}

@media screen and (max-width: 480px) {
    .tesla {
        gap: 0px;
        flex-wrap: wrap;
        padding: 0;
    }

    .tesla-content {
        margin-right: 0px;
    }

    .tesla-content__info h4 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        margin: 12px 0 0px;
    }

    .tesla-content__info p {
        line-height: 18px;
        margin-top: 0px;
    }

    .tesla-img img {
        width: 300px;
        height: 300px;
        object-fit: contain;
        margin-left: 0px;
    }

    .tesla-content__bottom {
        gap: 0px;
    }

    .associate-p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        margin-top: 5px;
    }

    .tesla-content__bottom-img img {
        width: 25px;
        height: 25px;
        object-fit: contain;
    }

    .tesla-content__bottom-text {
        margin: 0;
        gap: 2px;
    }

    .tesla-content__bottom-text h4 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: var(--primary-color);
        padding-left: 20px;
    }

    .tesla-content__bottom-text img {
        width: 25px;
        height: auto;
        padding-right: 0px;
        margin-right: 0;
        object-fit: contain;
    }
}